/* Body */
body {
  background-color: whitesmoke;
}
/* Body End */

/* Header */
header {
  text-align: center;
  font-weight: 900;
  height: 100%;
  margin-top: -30px;
  margin-bottom: 10px;
}

sup {
  font-size: 20px;
}

header h1 {
  font-size: 70px;
  font-family: Righteous;
  padding: 10px 0px 0px 0px;
}

header a {
  font-size: 30px;
  text-decoration: none;
  position: relative;
  top: -20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: blue;
}

header a:hover {
  text-decoration: underline;
  transition: 1s;
  color: brown;
  position: relative;
}

header i {
  font-size: 33px;
  position: relative;
  top: -15px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

/* Header End */

/* About Me */
#aboutMe {
  margin: 3px;
  padding: 15px;
  max-width: 100%;
  text-align: center;
  border: 2px solid grey;
  margin: 10px;
  padding: 10px;
  border-radius: 50px;
  background-color: lightgrey;
}

#aboutMe h2 {
  font-size: 45px;
  font-weight: bold;
  text-decoration: underline;
}

#aboutMe p {
  font-size: 20px;
}

#aboutMe ul {
  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: center;
  flex-wrap: wrap;
}

#aboutMe ul li {
  font-size: 25px;
  position: relative;
  right: 5px;
  font-weight: bold;
}

#aboutMe ul i {
  position: relative;
  font-size: 35px;
}

#aboutMe .fa-html5 {
  color: red;
  left: 210px;
  bottom: 5px;
}

#aboutMe .fa-css3 {
  color: purple;
  left: 200px;
  bottom: 5px;
}

#aboutMe .fa-js {
  color: #f9e79f;
  left: 265px;
  bottom: 5px;
}

/* About Me End */

/* Projects */
#projects {
  border: 2px solid grey;
  border-radius: 50px;
  margin: 5px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: grey;
}

#projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  justify-content: center;
}

#projects h2 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  text-decoration: underline;
  color: lightgrey;
}

#projects-container img {
  max-width: 100%;
  height: 200px;
  border-radius: 20px;
}

.project-card {
  width: 90%;
  max-width: 1000px;
  border: 2px solid black;
  border-radius: 50px;
  margin: 10px;
  text-align: center;
  padding: 15px;
  background-color: rgb(236, 233, 233);
}

.project-card h3 {
  font-size: 34px;
  text-decoration: underline;
}

.project-card:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
}

#projects-container p {
  font-size: 18px;
}

/* Projects End */

/* Footer */
footer {
  position: relative;
  text-align: center;
  padding: 10px;
  font-size: 15px;
  font-family: Elsie;
  margin-top: 5px;
  background-color: #222;
}

#footer h3 {
  font-size: 35px;
  margin-bottom: 10px;
  color: white;
  display: inline-block;
  height: 30px;
  padding-bottom: 10px;
  padding-top: 0px;
  font-weight: bold;
}

#contact a {
  margin: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  color: rgb(255, 187, 0);
  text-decoration: none;
  padding: 5px;
  position: relative;
}

#footer a:hover {
  text-decoration: underline;
  color: cyan;
  transition: 1s;
}

#footer p {
  color: lightgrey;
  font-size: 18px;
  padding: 10px;
}

#contact span {
  color: white;
  position: relative;
  bottom: 0px;
  top: 6px;
  left: 15px;
}

#contact .fa-linkedin {
  color: white;
  position: relative;
  left: 15px;
  top: 1px;
  font-size: 20px;
}

/* Footer End */

/* Responsiveness */
@media screen and (max-width: 1050px) {
  /* About Me Responsive*/
  #aboutMe ul {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
  }

  #aboutMe ul li {
    list-style: none;
    position: relative;
    text-align: center;
  }

  #aboutMe ul i {
    position: absolute;
    top: 80px;
  }

  #aboutMe .fa-html5 {
    color: red;
    right: 50px;
    top: 517px;
  }

  #aboutMe .fa-css3 {
    color: purple;
    right: 50px;
    top: 600px;
  }

  #aboutMe .fa-js {
    color: yellow;
    right: 50px;
    top: 678px;
  }
  /* About Me Responsive End */
}

@media screen and (max-width: 996px) {
  /* About Me Responsive */
  #aboutMe ul {
    position: relative;
  }

  #aboutMe ul i {
    position: absolute;
  }

  #aboutMe .fa-html5 {
    color: red;
    top: 1px;
  }

  #aboutMe .fa-css3 {
    color: purple;
    top: 75px;
  }

  #aboutMe .fa-js {
    color: yellow;
    top: 157px;
  }
  /* About Me Responsive End */
}
/* Responsiveness End */

@media screen and (max-width: 768px) {
  /* Projects Responsiveness */
  #projects-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .project-card {
    max-width: 85%;
  }
  /* Projects Responsiveness End */

  /* Footer Resposiveness */
  footer {
    height: 60%;
  }

  #contact {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(1, 1fr));
    align-content: space-around;
    padding: 0px 0px 0px 0px;
  }

  #footer h3 {
    padding: 15px 0px 0px 0px;
  }

  #contact a {
    font-size: 20px;
  }

  #contact span {
    color: white;
    position: relative;
    bottom: 0px;
    top: 45px;
    left: -55px;
    font-size: 30px;
  }

  #contact .fa-linkedin {
    color: white;
    position: relative;
    left: -74px;
    top: 40px;
    font-size: 30px;
  }
  /* Footer Responsiveness End */
}

@media screen and (max-width: 413px) {
  /* About Me Responsiveness */
  #aboutMe ul {
    position: relative;
  }

  #aboutMe ul i {
    position: absolute;
  }

  #aboutMe .fa-html5 {
    color: red;
    top: 1px;
  }

  #aboutMe .fa-css3 {
    color: purple;
    top: 75px;
  }

  #aboutMe .fa-js {
    color: yellow;
    top: 157px;
    left: 235px;
  }
  /* About Me Responsiveness End */
}
